{% extends 'base.html.twig' %}

{% block title %}Connectez-vous{% endblock %}

{% block body %}
    {% if error %}
        <div class="alert alert-danger text-center" role="alert">
            Nom d'utilisateur ou mot de passe incorrect. Réessayez ou cliquer sur 'Mot de passe oublié' !
        </div>
    {% endif %}


<div class="col d-flex flex-column">
        <div class="col d-flex flex-column justify-content-evenly my-3 py-4 align-items-center">
            <h1 class="fw-bold text-decoration-underline fs-1">Connectez-vous</h1>
            <h2 class="h3 mb-3">Veuillez renseigner vos identifiants utilisateur</h2>
        </div>

        <div class="col-6 align-self-center">
            <form method="post" class="form-control d-flex flex-column align-items-center py-5">
                <label class="mb-2 fs-4 fst-italic" for="inputUsername">Nom d'utilisateur</label>
                <input type="text" name="username" value="{{ last_username }}" id="inputUsername" class="form-control mb-5" required>

                <label class="mb-2 fs-4 fst-italic" for="inputPassword">Mot de passe du compte</label>
                <input type="password" name="password" id="inputPassword" class="form-control mb-4" required>

                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                <div class="my-4">
                    <button class="btn btn-primary me-4" type="submit">Connexion</button>
                    <input type="checkbox" name="_remember_me" />
                    <label for="_remember_me"> Remember me</label>
                </div>
                <a href="{{ path('subscribe-page') }}" class="btn btn-success me-4" type="btn">Inscrivez-vous</a>
            </form>
        </div>
</div>
{% endblock %}
