{% extends 'base.html.twig' %}

{% block title %}Edition Produit{% endblock %}

{% block body %}
    {% for error in field_errors(form) %}
        <div class="alert alert-danger text-center" role="alert">{{ error }}</div>
    {% endfor %}

    <h3 class="text-center">Mise à jour produit</h3>
    {{ include('products/_form.html.twig') }}
    {{ include('products/_delete_form.html.twig') }}
{% endblock %}
